<p id="notice"><%= notice %></p>

<p>
  <strong>Numpedido:</strong>
  <%= @pedido.numpedido %>
</p>

<p>
  <strong>Prazoentrega:</strong>
  <%= @pedido.prazoentrega %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @pedido.vendedor_id %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente_id %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
